.item {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.item .left {
    margin-top: 10px;
    margin-right: 20px;
}
.item .left .btn {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    padding: 7px 12px;
    font-size: 14px;
    cursor: pointer;
}
.item .left span {
    display: block;
    margin: 0 auto;
    width: 6px;
    height: 6px;
    border: 4px solid #333;
    border-right: none;
    border-bottom: none;
    border-radius: 2px;
}
.item .btn:focus {
    background-color: #eee;
}
.item .left .up span {
    transform: rotate(45deg);
}
.item .left .down span {
    transform: rotate(-135deg);
}
.item .left .down {
    color: #fff;
    height: 28px;
    overflow: hidden;
    margin-top: 10px;
}
.right {
    height: 96px;
    flex: 1;
    box-sizing: border-box;
}
.right .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}
.right p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}